<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tajok.web.frontkit.dao.MovMapper">
	<resultMap id="BaseResultMap" type="com.tajok.web.frontkit.model.Mov">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="descp" property="descp" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="mov_url" property="movUrl" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="res_url" property="resUrl" jdbcType="VARCHAR" />
		<result column="level_id" property="levelId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, descp, time, mov_url, img_url, res_url, level_id,
		user_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_mov
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_mov
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tajok.web.frontkit.model.Mov">
		insert into t_mov (id, name,
		descp,
		time, mov_url, img_url,
		res_url, level_id, user_id
		)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{descp,jdbcType=VARCHAR},
		#{time,jdbcType=TIMESTAMP},
		#{movUrl,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
		#{resUrl,jdbcType=VARCHAR}, #{levelId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tajok.web.frontkit.model.Mov">
		insert into t_mov
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="descp != null">
				descp,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="movUrl != null">
				mov_url,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="resUrl != null">
				res_url,
			</if>
			<if test="levelId != null">
				level_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="descp != null">
				#{descp,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="movUrl != null">
				#{movUrl,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="resUrl != null">
				#{resUrl,jdbcType=VARCHAR},
			</if>
			<if test="levelId != null">
				#{levelId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tajok.web.frontkit.model.Mov">
		update t_mov
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="descp != null">
				descp = #{descp,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="movUrl != null">
				mov_url = #{movUrl,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="resUrl != null">
				res_url = #{resUrl,jdbcType=VARCHAR},
			</if>
			<if test="levelId != null">
				level_id = #{levelId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tajok.web.frontkit.model.Mov">
		update t_mov
		set
		name = #{name,jdbcType=VARCHAR},
		descp = #{descp,jdbcType=VARCHAR},
		time =
		#{time,jdbcType=TIMESTAMP},
		mov_url = #{movUrl,jdbcType=VARCHAR},
		img_url = #{imgUrl,jdbcType=VARCHAR},
		res_url =
		#{resUrl,jdbcType=VARCHAR},
		level_id = #{levelId,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 手动编写  -->

	<!-- 方式一：嵌套结果：使用嵌套结果映射来处理重复的联合结果的子集 封装联表查询的数据(去除重复的数据) select * from class 
		c, teacher t where c.teacher_id=t.t_id and c.c_id=1 -->
	<select id="search" parameterType="String" resultMap="ClassResultMap">
		select 
		m.id as id, 
		m.name as name, 
		u.id as u_id, 
		u.name as u_name,
		m.img_url as img_url 
		from t_user u, t_mov m 
		where u.id = m.user_id 
		and m.name like CONCAT('%',#{content,jdbcType=VARCHAR},'%')
	</select>
	<!-- 使用resultMap映射实体类和字段之间的一对一应关系 -->
	<resultMap type="com.tajok.web.frontkit.model.Mov" id="ClassResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<association property="user" javaType="com.tajok.web.frontkit.model.User">
			<id column="u_id" property="id" jdbcType="INTEGER" />
			<result column="u_name" property="name" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	<select id="show" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_mov
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="upload" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_mov
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="listMy" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from t_mov where user_id = #{id,jdbcType=INTEGER} ;
	</select>
</mapper>