<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tajok.web.backend.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.tajok.web.backend.model.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="mov_id" property="movId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, user_id, mov_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tajok.web.backend.model.Record" >
    insert into t_record (id, time, user_id, 
      mov_id)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{movId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tajok.web.backend.model.Record" >
    insert into t_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="movId != null" >
        mov_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="movId != null" >
        #{movId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tajok.web.backend.model.Record" >
    update t_record
    <set >
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="movId != null" >
        mov_id = #{movId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tajok.web.backend.model.Record" >
    update t_record
    set time = #{time,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      mov_id = #{movId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>